* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-visual {
  padding-top: 50px;
}
.list {
  padding: 20px;
  color: dimgray;
  width: 960px;
  margin: 0 auto;
}
section:nth-child(odd) {
  background-color: gainsboro;
}
section:nth-child(even) {
  background-color: white;
}
.main {
  width: 960px;
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
ul:nth-child(1),
ul:nth-child(5),
ul:nth-child(9) {
  background-color: orange;
  height: 200px;
  width: 30%;
}
ul:nth-child(2),
ul:nth-child(3),
ul:nth-child(4),
ul:nth-child(6),
ul:nth-child(7),
ul:nth-child(8) {
  background-color: yellow;
  height: 200px;
  width: 30%;
}
ul:nth-child(1),
ul:nth-child(2),
ul:nth-child(4),
ul:nth-child(5),
ul:nth-child(7),
ul:nth-child(8) {
  margin-right: 5%;
}
ul:nth-child(1),
ul:nth-child(2),
ul:nth-child(3),
ul:nth-child(4),
ul:nth-child(5),
ul:nth-child(6) {
  margin-bottom: 40px;
}
